<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
 <servlet>
    <servlet-name>addchurch</servlet-name>
    <servlet-class>com.onechurch.server.AddChurchServiceImpl</servlet-class>
  </servlet>

 <servlet-mapping>
    <servlet-name>addchurch</servlet-name>
    <url-pattern>/addChurch/addchurchservice</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>chatInfo</servlet-name>
    <servlet-class>com.onechurch.server.ChatServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>chatInfo</servlet-name>
    <url-pattern>/chat/chatservice</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>display</servlet-name>
    <servlet-class>com.onechurch.server.OneChurchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/displayChurch/displaychurchservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>new</servlet-name>
    <servlet-class>com.onechurch.server.OneChurchServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>new</servlet-name>
    <url-pattern>/displaysChurch/displayschurchservice</url-pattern>
  </servlet-mapping>

  	<servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.onechurch.common.server.ErrorHandler</servlet-class>
	</servlet>
	<!-- servlet mappings -->
	<servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
	</servlet-mapping>
	<error-page>
	    <error-code>404</error-code>
	    <location>/ErrorHandler</location>
	</error-page>
	<error-page>
	    <error-code>500</error-code>
	    <location>/ErrorHandler</location>
	</error-page>
	<error-page>
	    <exception-type>java.lang.Throwable</exception-type >
	    <location>/ErrorHandler</location>
	</error-page>

	<filter>
        <filter-name>log</filter-name>
        <filter-class>com.onechurch.common.server.LogFilterImpl</filter-class>
        <init-param>
            <param-name>logType</param-name>
            <param-value>filterLogParam</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>log</filter-name>
        <url-pattern>*/</url-pattern>
    </filter-mapping>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
